header {
  display: grid;
  grid-template-columns: min-content auto;
  width: 100%;
  height: 80px;
  color: white;
  background-color: #4A4A4A;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

  .menu {
    margin: auto auto auto 30px;
  }

  .nav {
    display: none;
  }

  .song-title {
    font-size: 25px;
    letter-spacing: 3px;
    margin: auto;
    place-self: center;
  }
}

@media only screen and (min-width: 768px) {
  header{
    grid-template-columns: 25% auto 25%;

    .song-title {
      font-size: 35px;
    }

    .menu {
      display: none;
    }

    .nav {
      display: grid;
      grid-template-columns: 50% 50%;

      .link {
        margin: auto;
      }

      a {
        display: none;
      }
    }
  }
} 

@media only screen and (min-width: 1224px) {
  header{
    grid-template-columns: 25% auto 25%;

    .song-title {
      font-size: 35px;
    }

    .menu {
      display: none;
    }

    .nav {
      display: grid;
      grid-template-columns: 50% 50%;

      .link {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: auto;
        
        div {
        white-space: nowrap;
        margin-top: auto;
        margin-bottom: auto;
        // margin-left: 10px;
        // margin: auto 0 auto 10px;
        }
      }

      a {
        display: grid;
        color: white;
        text-decoration: none;

      }
    }
  }
}  